name: Build

on: [push, pull_request]

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ runner.os }}-${{ runner.arch }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libcairo2-dev \
            libexpat1-dev \
            libicu-dev \
            libfreetype6-dev \
            libfontconfig1-dev \
            libharfbuzz-dev \
            libcurl4-openssl-dev \
            libturbojpeg0-dev \
            libwebp-dev \
            ninja-build \
            meson

      - name: Setup and Build
        run: |
          meson setup build --wrap-mode=nodownload
          meson compile -C build

  macos:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ runner.os }}-${{ runner.arch }}

      - name: Install dependencies
        run: |
          brew update
          brew install cairo expat icu4c freetype fontconfig harfbuzz curl jpeg-turbo webp ninja meson pkg-config
      - name: Setup and Build
        run: |
          export PKG_CONFIG_PATH="/opt/homebrew/opt/icu4c/lib/pkgconfig:$PKG_CONFIG_PATH"
          meson setup build --wrap-mode=nodownload
          meson compile -C build

  windows:
    runs-on: windows-latest
    if: github.ref_type == 'tag' || contains(github.event.head_commit.message, '[build:windows]')
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            mingw-w64-x86_64-expat
            mingw-w64-x86_64-icu
            mingw-w64-x86_64-freetype
            mingw-w64-x86_64-harfbuzz
            mingw-w64-x86_64-fontconfig
            mingw-w64-x86_64-cairo
            mingw-w64-x86_64-curl-winssl
            mingw-w64-x86_64-libjpeg-turbo
            mingw-w64-x86_64-libwebp
            mingw-w64-x86_64-meson
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-pkgconf
            mingw-w64-x86_64-gcc
            zip

      - name: Setup and Build
        run: |
          meson setup build \
            --prefix='${{ github.workspace }}/plutobook-win64' \
            --buildtype=release \
            --wrap-mode=nodownload \
            --prefer-static \
            -Dcpp_link_args='-static -static-libgcc -static-libstdc++ -lwinpthread' \
            -Dcpp_args='-DCAIRO_WIN32_STATIC_BUILD -DCURL_STATICLIB -DU_STATIC_IMPLEMENTATION'
          meson compile -C build
          meson install -C build --strip

      - name: Create artifact
        run: |
          mkdir -p plutobook-win64/{licenses,bin/fonts}
          cp -r /mingw64/etc/fonts/* plutobook-win64/bin/fonts/
          cp -r licenses/* plutobook-win64/licenses/
          cp -v CREDITS LICENSE plutobook-win64/
          zip -r plutobook-win64.zip plutobook-win64/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: plutobook-win64
          path: plutobook-win64.zip

  docker:
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag' || contains(github.event.head_commit.message, '[build:docker]')
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/plutobook-manylinux_2_28_x86_64

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/manylinux_2_28_x86_64.Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  release:
    needs: [linux, macos, windows]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: plutobook-*
          merge-multiple: true

      - name: Rename artifacts
        run: |
          for file in plutobook-*.zip; do
            mv -v "$file" "${file%.zip}-${GITHUB_REF_NAME#v}.zip"
          done
      - name: Generate Release Note
        run: |
          TAG_VERSION="${GITHUB_REF_NAME#v}"
          sed -n "/^## PlutoBook $TAG_VERSION/,/^## PlutoBook /{
            /^## PlutoBook $TAG_VERSION/b
            /^## PlutoBook /b
            p
          }" CHANGELOG.md > RELEASENOTE.md
      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          body_path: RELEASENOTE.md
          files: plutobook-*.zip
